.ljs2018-header__container-overlay {
	/* margin-top: 8vw;

	@media only screen and (max-width: 750px) {
		margin-top: 8vw;
	} */
}

.ljs2018-header-cta__container {
	background-color: #3c3c3c;
	color: #fff;
	display: flex;
	flex-direction: row;
	height: 8vw;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999;

	@media only screen and (max-width: 750px) {
		flex-direction: column;
		height: 16vw;
		justify-content: space-around;
	}
}

.ljs2018-header-cta__countdown-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4vw;

	@media only screen and (max-width: 750px) {
		display: none;
	}
}

.ljs2018-header-cta__countdown-smalltext {
	font-size: 1.2vw;
	font-weight: 200;
	line-height: 3vw;
	padding-right: 0.6vw;
	text-transform: uppercase;
}
.ljs2018-header-cta__countdown-days,
.ljs2018-header-cta__countdown-hours,
.ljs2018-header-cta__countdown-minutes,
.ljs2018-header-cta__countdown-seconds {
	background-color: #585858;
	font-size: 2vw;
	font-weight: 800;
	padding: 0.8vw 0.9vw;
	vertical-align: top;
}

.ljs2018-header-cta__cta-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 3vw;

	@media only screen and (max-width: 750px) {
		margin: 0 auto;
	}
}

.ljs2018-header-cta__cta-container p {
	font-size: 1.3vw;
	text-align: center;

	@media only screen and (max-width: 750px) {
		font-size: 3.3vw;
	}
}

.ljs2018-header-cta__ticket-purchase {
	background-color: #a36696;
	border-style: none;
	border-radius: 10vw;
	color: #ffffff;
	font-size: 1.4vw;
	font-weight: 500;
	letter-spacing: 0.1vw;
	line-height: 6vw;
	margin-left: 1vw;
	margin-top: 0.9vw;
	padding: 1vw 2vw;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.5s;
	width: 22vw;

	@media only screen and (max-width: 750px) {
		font-size: 3.3vw;
		width: 44vw;
	}
}
