:root {
	--ljs-menu__top-value: 3.2vw;
	--ljs-menu__top-value-mobile: 13vw;
	--ljs-menu__home-top-value: 11.2vw;
	--ljs-menu__home-top-value-mobile: 18vw;
}

.ljs-menu__menu-toggle {
	background-color: #3c3c3c;
	cursor: pointer;
	height: 4.2vw;
	position: fixed;
	top: var( --ljs-menu__top-value );
	width: 4.2vw;
	z-index: 1000;

	@media only screen and (max-width: 750px) {
		height: 16vw;
		top: var( --ljs-menu__top-value-mobile );
		width: 16vw;
	}
}

.ljs-menu__menu-open .ljs-menu__menu-toggle i.fa-bars {
	margin-left: -30vw;
	transition-duration: 2s;
}

.ljs-menu__menu-close .ljs-menu__menu-toggle i.fa-times {
	margin-left: -30vw;
	transition-duration: 2s;
}

.ljs-menu__menu-toggle i {
	color: #ffffff;
	cursor: pointer;
	font-size: 2.5vw;
	padding: 0.9vw;
	position: absolute;

	@media only screen and (max-width: 750px) {
		font-size: 8.5vw;
		padding: 3.7vw 4.2vw;
	}
}

.ljs-menu__logo {
	margin: 31% 9%;
	position: relative;
	width: 81%;
	z-index: 1001;
}

.ljs-menu__menu-container {
	background-color: #ffffff;
	height: 4.2vw;
	left: 4.2vw;
	position: fixed;
	top: var( --ljs-menu__top-value );
	width: 4.2vw;
	z-index: 1000;

	@media only screen and (max-width: 750px) {
		height: 16vw;
		left: 16vw;
		top: var( --ljs-menu__top-value-mobile );
		width: 16vw;
	}
}

.ljs-menu__menu-logo {
	background-color: #ffc214;
	height: 4.2vw;
	left: 4.2vw;
	position: fixed;
	top: var( --ljs-menu__top-value );
	width: 4.2vw;
	z-index: 1000;

	@media only screen and (max-width: 750px) {
		height: 16vw;
		left: 16vw;
		top: var( --ljs-menu__top-value-mobile );
		width: 16vw;
	}
}

.ljs-menu__menu-menu {
	background-color: #ffffff;
	box-sizing: border-box;
	height: 0;
	overflow: auto;
	position: fixed;
	text-transform: uppercase;
	top: var( --ljs-menu__top-value );
	width: 0;

	@media only screen and (max-width: 750px) {
		top: var( --ljs-menu__top-value-mobile );
	}
}

.ljs-menu__menu-menu ul {
	font-size: 5vw;
	font-weight: 900;
	line-height: 5vw;
	list-style: none;
	padding: 3vw 13vw 0 0;
	text-align: right;

	@media only screen and (max-width: 750px) {
		font-size: 10vw;
		line-height: 11vw;
	}
}

.ljs-menu__menu-menu ul li a {
	color: #0024b2;
	text-decoration: none;
}

.ljs-menu__menu-open .ljs-menu__menu-menu ul {
	padding: 3vw 13vw 0 0;
}

.ljs-menu__menu-open .ljs-menu__menu-menu {
	height: 50vw;
	transition-duration: 0.5s;
	width: 50vw;

	@media only screen and (max-width: 750px) {
		height: 100vw;
		width: 84vw;
	}
}

.ljs-menu__menu-close .ljs-menu__menu-menu {
	transition-duration: 0.5s;
}

.page-template-libertyjs-2017-homepage .ljs-menu__menu-toggle,
.page-template-libertyjs-2017-homepage .ljs-menu__menu-container,
.page-template-libertyjs-2017-homepage .ljs-menu__menu-logo,
.page-template-libertyjs-2017-homepage .ljs-menu__menu-menu {
	top: var( --ljs-menu__home-top-value );
	@media only screen and (max-width: 750px) {
		top: var( --ljs-menu__home-top-value-mobile );
	}
}
