.ljs-template-schedule__container {
	margin-top: 8vw;
}

.ljs-template-schedule__container-day {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10vw;

	@media only screen and (max-width: 750px) {
		flex-direction: column;
	}
}

.ljs-template-schedule__date {
	margin-left: 5vw;
	width: 23vw;
}

.ljs-template-schedule__date p {
	color: #255a8b;
	font-size: 3.5vw;
	font-weight: 800;
	line-height: 1;
}

.ljs-template-schedule__date span {
	color: #91acc6;
}

.ljs-template-schedule__date a {
	color: #91acc6;
	text-decoration: none;
}

span.ljs-template-schedule__date-active {
	color: #255a8b;
}

.ljs-template-schedule__speakers {
	margin-right: 3vw;
	width: 60vw;

	@media only screen and (max-width: 750px) {
		margin: 5vw;
		width: 90vw;
	}
}

.ljs-template-schedule__keynote,
.ljs-template-schedule__speaker {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1.5vw;
	padding: 1vw;

	@media only screen and (max-width: 750px) {
		margin-bottom: 3vw;
		padding: 2vw;
	}
}

.ljs-template-schedule__speaker-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ljs-template-schedule__keynote {
	background-color: #ffc214;
}

.ljs-template-schedule__speaker-one {
	background-color: #40a2ce;
}

.ljs-template-schedule__speaker-two {
	background-color: #255a8b;
}

.ljs-template-schedule__speaker-three {
	background-color: #3b3c3d;
}

.ljs-template-schedule__speaker-default {
	border: 0.1vw solid #cccccc;
}

.ljs-template-schedule__speaker .ljs-template-schedule__time,
.ljs-template-schedule__speaker .ljs-template-schedule__name,
.ljs-template-schedule__speaker .ljs-template-schedule__link,
.ljs-template-schedule__speaker .ljs-template-schedule__title {
	color: #ffffff;
}

.ljs-template-schedule__speaker-default .ljs-template-schedule__time,
.ljs-template-schedule__speaker-default .ljs-template-schedule__name,
.ljs-template-schedule__speaker-default .ljs-template-schedule__title {
	color: #255a8b;
}

.ljs-template-schedule__keynote .ljs-template-schedule__time,
.ljs-template-schedule__keynote .ljs-template-schedule__name,
.ljs-template-schedule__keynote .ljs-template-schedule__title {
	color: #111111;
}

.ljs-template-schedule__speaker-body img {
	height: 6vw;
	width: 6vw;

	@media only screen and (max-width: 750px) {
		height: 12vw;
		width: 12vw;
	}
}

.ljs-template-schedule__speaker-info {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding-left: 2.2vw;
	justify-content: center;
}

.ljs-template-schedule__time {
	font-size: 0.9vw;
	line-height: 1.5vw;
	text-transform: uppercase;

	@media only screen and (max-width: 750px) {
		font-size: 1.8vw;
		line-height: 3vw;
	}
}

.ljs-template-schedule__name {
	font-size: 1.5vw;
	font-weight: 800;
	text-transform: uppercase;

	@media only screen and (max-width: 750px) {
		font-size: 3vw;
	}
}

.ljs-template-schedule__title {
	font-size: 1.2vw;

	@media only screen and (max-width: 750px) {
		font-size: 2.4vw;
	}
}

.ljs-template-schedule__time,
.ljs-template-schedule__name,
.ljs-template-schedule__title {
	margin: 0;
	padding: 0;
}

.ljs-template-schedule__divider {
	border-bottom: 0.1vw solid #255a8b;
	margin: 2.5vw 0;
	text-align: center;
	width: 100%;

	@media only screen and (max-width: 750px) {
		margin: 5vw 0;
	}
}

.ljs-template-schedule__divider div {
	background-color: #ffffff;
	color: #255a8b;
	font-weight: 900;
	font-size: 1.7vw;
	margin: 0 auto -1vw;
	text-transform: uppercase;
	width: 20vw;

	@media only screen and (max-width: 750px) {
		font-size: 3.4vw;
		margin: 0 auto -2vw;
	}
}

.ljs-template-schedule__more-info {
	display: none;
}

.ljs-template-schedule__speaker-show .ljs-template-schedule__more-info {
	display: block;
}

.ljs-template-schedule__more-toggle {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 2vw;

	@media only screen and (max-width: 750px) {
		margin: 0 4vw;
	}
}

.ljs-template-schedule__more-toggle-icon {
	cursor: pointer;
	font-size: 2vw;
	transform: rotate( 0deg );
	transition: transform 1s;

	@media only screen and (max-width: 750px) {
		font-size: 4vw;
	}
}

.ljs-template-schedule__speaker-show .ljs-template-schedule__more-toggle-icon {
	transform: rotate( 180deg );
	transition: transform 0.5s;
}

.ljs-template-schedule__speaker-more {
	color: #ffffff;
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.5s ease;
}

.ljs-template-schedule__keynote .ljs-template-schedule__more-toggle,
.ljs-template-schedule__keynote .ljs-template-schedule__speaker-more {
	color: #111111;
}

.ljs-template-schedule__speaker-default .ljs-template-schedule__speaker-more,
.ljs-template-schedule__speaker-default .ljs-template-schedule__more-toggle {
	color: #255a8b;
}

.ljs-template-schedule__speaker-more p {
	font-size: 1vw;
	line-height: 1.5vw;
	margin: 1vw 0 0;
	padding: 1vw 0.5vw 0 0;

	@media only screen and (max-width: 750px) {
		font-size: 3vw;
		line-height: 4vw;
		margin: 2vw 0 0;
		padding: 2vw 1vw 0 0;
	}
}

.ljs-template-schedule__speaker-default p {
	border-top: 0.1vw solid rgba( 0, 0, 0, 0.5 );
}

.ljs-template-schedule__speaker-show .ljs-template-schedule__speaker-more {
	max-height: 1000vw;
	transition: max-height 1s ease;
}
