.ljs-speaker__container {
	margin: 4.1vw 0 0 5vw;
	position: relative;
	width: 26vw;

	@media only screen and (max-width: 1000px) {
		margin: 0 0 12vw 6vw;
		width: inherit;
	}
}

.ljs-speaker__jobtitle,
.ljs-speaker__name {
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: left top;
}

.ljs-speaker__jobtitle {
	bottom: 0;
	color: #42a2ce;
	font-size: 0.7vw;
	font-weight: 600;
	margin: 0 0 -0.6vw 2.8vw;
	text-transform: uppercase;

	@media only screen and (max-width: 1000px) {
		font-size: 2.3vw;
		margin: 0 0 -0.1vw 9.8vw;
	}
}

.ljs-speaker__name {
	bottom: 0;
	color: #255a8b;
	font-size: 1.7vw;
	font-weight: 800;
	margin: 0 0 -1.8vw 0.3vw;
	text-transform: uppercase;

	@media only screen and (max-width: 1000px) {
		font-size: 4.7vw;
		margin: 0 0 -2.8vw -0.3vw;
	}
}

.ljs-speaker__image {
	background: #cccccc;
	display: block;
	height: 21.2vw;
	margin-left: 4.8vw;
	width: 21.2vw;

	@media only screen and (max-width: 1000px) {
		margin: 40vw 0 0 22.2vw;
		height: 70vw;
		width: 70vw;
	}
}

h1.ljs-speaker__heading {
	color: #255a8b;
	font-size: 1.3vw;
	font-weight: 700;
	line-height: 0.8;
	margin: 4vw 5vw 2vw;
	text-transform: uppercase;

	@media only screen and (max-width: 1000px) {
		font-size: 10vw;
		line-height: 0.8;
	}
}

.ljs-speaker__content {
	color: #255a8b;
	font-size: 1.2vw;
	margin: 2vw 5vw;

	@media only screen and (max-width: 1000px) {
		font-size: 5vw;
	}
}

.ljs-speaker__content p {
	padding: 0.5vw 0;
}

.ljs-speaker__social-container {
	display: flex;
	height: 21.2vw;
	justify-content: center;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 21.2vw;

	@media only screen and (max-width: 750px) {
		height: 70vw;
		width: 70vw;
	}
}

.ljs-speaker__social-container:hover {
	background-color: rgba( 204, 125, 188, 0.5 );
	opacity: 1;
}

.ljs-speaker__social-container a {
	color: #ffffff;
	cursor: pointer;
	margin: 8.5vw 1vw;
	text-decoration: none;

	@media only screen and (max-width: 750px) {
		margin: 28vw 2vw;
	}
}

.ljs-speaker__social-container a:hover {
	color: #dedede;
}

.ljs-speaker__social-container a i {
	font-size: 3vw;

	@media only screen and (max-width: 750px) {
		font-size: 12vw;
	}
}
