.ljs2017-sponsors-mobile__container {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;

	@media only screen and (max-width: 750px) {
		display: flex;
	}
}

.ljs2017-sponsors-mobile__container a,
.ljs2017-sponsors__container a {
	color: #333333;
	text-decoration: none;
}

.ljs2017-sponsors-mobile__sponsor-large {
	margin: 6vw auto;
	padding: 0 15vw;
	text-align: center;
	width: 100vw;
}

.ljs2017-sponsors-mobile__sponsor-large .ljs2017-sponsors-mobile__logo {
	margin: 10vw auto 3vw;
	width: 44vw;
}

.ljs2017-sponsors-mobile__sponsor-large h3 {
	font-size: 4.4vw;
	padding: 4vw 0 0;
}

.ljs2017-sponsors-mobile__sponsor-large p {
	font-size: 3.9vw;
	line-height: 1.5;
}

.ljs2017-sponsors-mobile__sponsor {
	text-align: center;
	width: 50vw;
}

.ljs2017-sponsors-mobile__sponsor .ljs2017-sponsors-mobile__logo {
	margin: 8vw auto 3vw;
	width: 23vw;
}

.ljs2017-sponsors__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;

	@media only screen and (max-width: 750px) {
		display: none;
	}
}

.ljs2017-sponsors__sponsor-large,
.ljs2017-sponsors__sponsor {
	border-color: #f7f7f7;
	border-style: solid;
	border-width: 1px;
	margin: -1px;
}

.ljs2017-sponsors__sponsor-block {
	display: flex;
	height: 22.4vw;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50vw;
}

.ljs2017-sponsors__sponsor-large {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 22.4vw;
	padding: 0 11vw;
	text-align: center;
	width: 50vw;
}

.ljs2017-sponsors__sponsor-large h3 {
	font-size: 1.4vw;
}

.ljs2017-sponsors__sponsor-large p {
	font-size: 0.9vw;
}

.ljs2017-sponsors__sponsor-large .ljs2017-sponsors__logo {
	margin: 0 auto 2vw;
	position: relative;
	height: 8vw;
}

.ljs2017-sponsors__sponsor-empty {
	height: 11.2vw;
	width: 25vw;
}

.ljs2017-sponsors__sponsor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 11.2vw;
	width: 25vw;
}

.ljs2017-sponsors__sponsor .ljs2017-sponsors__logo {
	margin: auto;
	position: relative;
	width: 10vw;
}

.sponsor-benefits {
	border: 1px solid;
	border-collapse: collapse;
}
.sponsor-benefits th {
	border: 1px solid;
	text-align: left;
	padding: 0 5px;
	background-color: #ccc;
}
.sponsor-benefits th b {
	display: block;
}
.sponsor-benefits td {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}
.sponsor-benefits td:first-child {
	text-align: left;
}

/*Hack for Urbn Logo*/
a.ljs2017-sponsors__sponsor-large[href="http://www.urbn.com/"] img {
    height: 12vw;
}

/*FLAG: No Sponsors*/
.ljs2017-sponsors-mobile__sponsor-large,
.ljs2017-sponsors-mobile__sponsor,
.ljs2017-sponsors__sponsor-block {
	display: none;
}

.ljs2017-sponsors__show {
	display: inherit;

	@media only screen and (max-width: 750px) {
		display: block;
	}
}

.ljs2017-sponsors__show-block {
	display: block;
}

.ljs2017-sponsors__hide {
	display: none;
}

.ljs2017-lastyear__container {
	margin-top: 4vw;
}
/*END FLAG: No SPonsors*/
